.productList {
  display: grid;
  grid-template-columns: var(--grid-page-main);
  gap: var(--space-xl);
  text-align: center;
  justify-content: center;
  padding: var(--space-xl);
  max-width: var(--width-xl);
  margin: auto;

  @media screen and (min-width: 30em) {
    gap: calc(var(--space-xl) * 2) var(--space-xl);
    grid-template-columns: var(--grid-2);
  }
  @media screen and (min-width: 64em) {
    grid-template-columns: var(--grid-3);
  }
  @media screen and (min-width: 90em) {
    gap: calc(var(--space-xl) * 3) calc(var(--space-xl) * 1.5);
    grid-template-columns: var(--grid-4);
  }
  @media screen and (min-width: 135em) {
    gap: calc(var(--space-xl) * 4) calc(var(--space-xl) * 2);
    grid-template-columns: var(--grid-5);
  }
}

.cardTop {
  height: 16rem;
  position: relative;
}
.cardTop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: brightness(0.9); */
}
.cardTop span {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  z-index: 10;
  background-color: var(--color-base-200);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  border: solid 0.1rem var(--color-secondary);
}

.cardMiddle {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-md);
}
.cardMiddle .heading {
  text-transform: uppercase;
}
.cardMiddle .heading span {
  font-size: var(--scale-0);
}
.cardMiddle p {
  font-size: var(--scale-1);

  @media screen and (min-width: 64em) {
    font-size: var(--scale-2);
  }
}

.cardBottom {
  margin-top: var(--space-sm);
  background-color: var(--color-secondary);
  color: var(--color-secondary-content);
}
.cardBottom button {
  padding: var(--space-md);
  color: var(--color-secondary-content);
  text-transform: uppercase;
}
