.productList {
  display: grid;
  grid-template-columns: var(--grid-page-main);
  text-align: center;
  justify-content: center;
  padding: var(--space-xl);
}
.product {
  background-color: var(--color-base-200);
  border-radius: var(--radius-sm);
}
.product .top {
  height: 16rem;
  position: relative;
}
.product .top span {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(25%, -25%);
  background-color: var(--color-primary);
  color: var(--color-primary-content);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-sm);
}
.product .content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.product button {
  background-color: var(--color-secondary);
  color: var(--color-secondary-content);
  width: var(--width-fluid);
  margin-top: var(--space-sm);
  padding: var(--space-md);
}
