@import '@repo/ui/theme';

p {
  font-size: clamp(var(--text-sm), 1vw, var(--text-default));
}

h1 {
  font-size: clamp(var(--heading-sm), 5vw, var(--heading-xl));
}

h2 {
  font-size: clamp(var(--heading-sm) - 25%, 3vw, var(--heading-sm));
}

h3 {
  font-size: clamp(var(--heading-xs), 2vw, var(--heading-xs) + 25%);
}

h4 {
  font-size: clamp(var(--heading-xs) - 25%, 1.5vw, var(--heading-xs));
}
