@import '@repo/ui/theme';

p {
  font-size: var(--scale-fluid-2);

  @media screen and (min-width: 45em) {
    font-size: var(--scale-fluid-3);
  }
}

h1 {
  font-size: var(--scale-fluid-6);

  @media screen and (min-width: 45em) {
    font-size: var(--scale-fluid-8);
  }
  @media screen and (min-width: 90em) {
    font-size: var(--scale-fluid-10);
  }
}

h2 {
  font-size: var(--scale-fluid-5);

  @media screen and (min-width: 45em) {
    font-size: var(--scale-fluid-6);
  }
  @media screen and (min-width: 90em) {
    font-size: var(--scale-fluid-8);
  }
}

h3 {
  font-size: var(--scale-fluid-4);

  @media screen and (min-width: 45em) {
    font-size: var(--scale-fluid-5);
  }
}

h4 {
  font-size: var(--scale-fluid-3);

  @media screen and (min-width: 45em) {
    font-size: var(--scale-fluid-4);
  }
}
