.homePage {
  max-height: 100vh;
  font-family: var(--font-fam-accent);
}

/* .logo {
  margin-left: var(--space-md);
  margin-top: var(--space-xs);
  display: flex;
  align-items: center;
  gap: var(--space-default);
}
.logo img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;

  @media screen and (min-width: 45em) {
    width: 9.6rem;
    height: 9.6rem;
  }
}
.logo h3 {
  color: var(--color-primary-light);
} */

.slogan {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  width: 95%;
  max-width: var(--width-max);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sloganContent {
  background-color: var(--color-primary-light);
  text-align: center;
  color: var(--color-primary-lighter);
  border-radius: var(--radius-default);
  padding: var(--space-md);

  @media screen and (min-width: 45em) {
    padding: var(--space-lg);
    border-radius: var(--radius-lg);
  }
}
.sloganContent h1 span {
  color: var(--color-accent);
}
.sloganContent h1:last-child {
  color: var(--color-primary-dark);
}
.slogan a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: var(--color-primary-light);
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.25);
}
