.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-base-200);
  border-radius: var(--radius-sm);
  overflow: hidden;
  box-shadow: var(--shadow-md);
  width: 100%;
  height: 100%;

  @media screen and (min-width: 64em) {
    box-shadow: var(--shadow-lg);
  }
}
