.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.basket > svg {
  @media screen and (min-width: 45em) {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.basket span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: -25%;
  min-width: 2.4rem;
  min-height: 2.4rem;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary-darker);
  color: var(--color-primary-lighter);
  padding: var(--space-xs);
  font-size: var(--text-xs);
  border-radius: var(--radius-full);

  @media screen and (min-width: 45em) {
    font-size: var(--text-sm);
    min-width: 2.8rem;
    min-height: 2.8rem;
  }
}
.basket:hover > .basketPreview {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.basketPreview {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 11;
  transform: translateY(100%);
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-base-dark);

  display: flex;
  flex-direction: column;
  background-color: var(--color-base-default);
  height: 50vh;
  width: 90vw;
  max-width: var(--width-xs);
  box-shadow: var(--shadow-xl);
  padding: var(--space-xs) var(--space-sm);
}

.items {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
.item > p:first-of-type {
  flex: 1;
}

.itemButtons {
  display: flex;
  flex-direction: column;
  background-color: var(--button-primary-dark-background);
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
}
.itemButtons button {
  color: var(--button-primary-dark-text);
  padding: var(--space-xs) var(--space-sm);
}
.itemButtons button:hover {
  background-color: var(--button-primary-dark-hover);
}

.basketTotal {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-base-dark);
  padding: var(--space-md) 0;
}
