.header {
  position: relative;
}
.header > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  padding-right: var(--space-xs);
  padding-bottom: var(--space-sm);
  background-color: var(--color-base-default);

  @media screen and (min-width: 64em) {
    padding: var(--space-md);
  }
  @media screen and (min-width: 135em) {
    padding: var(--space-default);
  }
}

.logo {
  margin-left: var(--space-md);
  margin-top: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;

  @media screen and (min-width: 45em) {
    width: 8rem;
    height: 8rem;
  }
}
.logo h3 {
  color: var(--color-primary-darker);
  font-size: 90%;
}

.search {
  flex: 1;
  border: 1px solid var(--input-primary-dark-outline);
  color: var(--input-primary-dark-outline-value);
  border-radius: var(--radius-full);
  padding: var(--space-sm) var(--space-md);
  transition: width 0.2s;

  @media screen and (min-width: 45em) {
    flex: none;
    width: var(--width-xs);
  }
  @media screen and (min-width: 64em) {
    width: var(--width-sm);
    padding: var(--space-sm) var(--space-md);
  }
  @media screen and (min-width: 90em) {
    width: var(--width-md);
    padding: var(--space-md) var(--space-default);
  }
}
.search:hover{
     border-color: var(--input-primary-dark-hover);
     transition: border-color .4s;
}
.search:focus {
  @media screen and (min-width: 45em) {
    width: calc(var(--width-xs) + 4rem);
  }

  @media screen and (min-width: 64em) {
    width: calc(var(--width-sm) + 4rem);
  }
  @media screen and (min-width: 90em) {
    width: calc(var(--width-md) + 4rem);
  }
}

.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.basket > svg {
  @media screen and (min-width: 45em) {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.basket span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: -25%;
  min-width: 2.4rem;
  min-height: 2.4rem;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary-darker);
  color: var(--color-primary-lighter);
  padding: var(--space-xs);
  font-size: var(--text-xs);
  border-radius: var(--radius-full);

  @media screen and (min-width: 45em) {
    font-size: var(--text-sm);
    min-width: 2.8rem;
    min-height: 2.8rem;
  }
}
.basket:hover > .basketPreview {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.basketPreview {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 11;
  transform: translateY(100%);
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-base-dark);

  display: flex;
  flex-direction: column;
  background-color: var(--color-base-default);
  height: 50vh;
  width: 50vw;
  max-width: var(--width-xs);
  box-shadow: var(--shadow-xl);
  padding: var(--space-xs) var(--space-sm);
}
.basketItems {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  overflow-y: auto;
}
.basketItems > ul {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
.basketItems > ul > li:first-of-type {
  flex: 1;
}
.basketItems > ul > li:last-of-type {
     display: flex;
     flex-direction: column;
     background-color: var(--button-primary-dark-background);
     border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
}
.basketItems > ul > li:last-of-type button {
     color: var(--button-primary-dark-text);
     padding: var(--space-xs) var(--space-sm);
}
.basketItems > ul > li:last-of-type button:hover {
     background-color: var(--button-primary-dark-hover);
}

.basketTotal {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-base-dark);
}

.footer {
  background-color: var(--color-base-dark);
  padding: var(--space-sm);
  text-align: center;
  font-size: var(--text-xs);
}