.shopPage {
  background-color: var(--color-base);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  padding-right: var(--space-xs);
  padding-bottom: var(--space-sm);
  background-color: var(--color-base-100);
}

.logo {
  margin-left: var(--space-md);
  margin-top: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;

  @media screen and (min-width: 45em) {
    width: 8rem;
    height: 8rem;
  }
}
.logo h3 {
  color: var(--color-secondary);
  font-size: 90%;
}

.search {
  flex: 1;
  border: 1px solid var(--color-secondary);
  border-radius: var(--radius-full);
  padding: var(--space-sm) var(--space-md);
  transition: width 0.2s;

  @media screen and (min-width: 45em) {
    flex: none;
    width: var(--width-xs);
  }

  @media screen and (min-width: 64em) {
    width: var(--width-sm);
    padding: var(--space-sm) var(--space-df);
  }
}
.search:focus {
  @media screen and (min-width: 45em) {
    width: calc(var(--width-xs) + 4rem);
  }

  @media screen and (min-width: 64em) {
    width: calc(var(--width-sm) + 4rem);
  }
}

.basket {
  position: relative;
}
.basket span {
  position: absolute;
  left: 50%;
  top: -25%;
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary);
  color: var(--color-secondary-content);
  padding: var(--space-xs);
  font-size: var(--scale-00);
  border-radius: var(--radius-full);
}
