.categoryFilter {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-base-200);
  padding: var(--space-sm) 0;
}

.categoryFilter a {
  display: flex;
  padding: var(--space-xs);
  border-radius: var(--radius-full);
}

.categoryFilter .active {
  background-color: var(--color-base-100);
}
